[project]
name = "fastmcp-learning-journey"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.121.1",
    "fastmcp>=2.13.0.2",
    "psutil>=7.1.3",
]
